
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-row">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Projects
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> About me
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="techstack">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tech Stack
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Contacts
            </NavLink>
        </div>


    </nav>
</div>