@page "/contacts"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="m-4">
    <input type="text" @bind="inputText"/>
    <p>@inputText</p>
</div>

@code {
    private int currentCount = 0;

    private string inputText;
    
    [Parameter]
    public int ClickValue { get; set; } = 1;
    
    private void IncrementCount()
    {
        currentCount+=ClickValue;

    }


}